.background{
    
    background: url(/homepage/images/arcade.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}
.resize{
    height: 150px;
  width: 500px;
  display: block;
  margin-left:auto;
  margin-right:auto;
}
table, th, td {
	
	color: springgreen;
  border: none;
  margin: auto;  
  padding: 2px;
  text-align: center;
}
.btn{
   
    border-radius: 32px;
    border-color: black;
    background-color: springgreen;
    text-align: center;
    font-size: 16px;
    padding: 10px 16px;
    margin: auto;
    display: block;
    width: 30%
}
a{
    color:black
}