<html>

<head>

<title>High Scores</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="style2.css">

	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

</head>

<body class="background"> 

<div class="container">

<div class="pb-2 mt-4 mb-2 border-bottom">
	<img class = "resize" src="highscore.jpg"/>
</div>

<div class="" >

	<table style="width:100%">
		<tr>
		  <th>Name</th>
		  <th>Score</th> 
		  <th>Date</th>
		</tr>
		<tr>
		  <td>{{name}}</td>
		  <td>{{score}}</td> 
		  <td>{{date}}</td>
		</tr>
	  </table>

	  <button class= "btn"><a href="opponent_setup.html">Lets Play</a></button><br>
	<button class="btn"><a href="/index"><em>Logout</em></a></button>
</div>

</div>
</div>

</body>

</html>
