<html>

<head>

    <title>High Scores</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/homepage/css/style.css">
    <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/gamepage/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/gamepage/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/gamepage/css/util.css">
	<link rel="stylesheet" type="text/css" href="/gamepage/css/login_main.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

	<script src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

</head>

<body class="background">
    <br><br>
    <div class="container"style="text-align:center; position: relative; margin:0 auto; background-color: rgba(0, 0, 0, 0.65);">
        <br>
        <div class="pb-2 mt-4 mb-2 border-bottom">
            <img class="resize" src="/homepage/images/highscore.jpg" />
        </div>

        <div class="">

            <table style="width:100%">
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Date</th>
                </tr>
                {{#User}}
                <tr>
                    <td>{{username}}</td>
                    <td>{{score}}</td>
                    <td>{{date}}</td>
                </tr>
                {{/User}}
     
            </table>
            <br>
            <br>
            <br>
            <div>
                <button style="display: inline-block;" class="login100-form-btn-2" ><a href="/profile_pg" style="font-size:120%; text-align:center; color: #d41872;">My Profile</a></button>
                <button style="display: inline-block;" class="login100-form-btn-2" ><a href="/setup" style="font-size:120%; text-align:center; color: #d41872;">Let's Play</a></button><br><br><br>
                <button style="display: inline-block;" class="login100-form-btn" ><a href="/logout" style="font-size:120%; text-align:center; color: #56c50b;"><em>Logout</em></a></button>
            </div>
        </div>
        <br><br>
    </div>
    </div>

</body>

</html>