<html>

<head>

<title>The User Experience</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

</head>

<body>

<div class="container">

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h1>A Home Page</h1>
</div>

<div class="">
	<h4>Hello, {{username}}! You are the best and I love you.</h4>

	<p>However, I can't help but tell the world your password, which is <code>{{password}}</code>.</p>

	<p>Well, crap.</p>

	<p><a href="/index"><em>logout</em></a></p>
</div>

</div>
</div>

</body>

</html>
