.background{
    background-color: rgba(0, 0, 0, 0.342);
    background: url(/gamepage/images/bg1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}
h1,h2,h3,h4,h5,h6,p,li {
	color: springgreen;
}
.tile{
	width: 80px;
	height: 80px;
	font-size: 60px;
	font-family: Helvetica;
}

.gameBoard{
	display: none;
}

.center{
	margin: 0 auto;
}